body {
    background-color: #e7df94;
}

h1 {
    background-color:rgb(58, 224, 108); ;
    text-align: center;
    padding: 20px;
}

form {
    max-width: 500px;
    margin: 10px auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.two-column-form {
    width: 45%;
    text-align: right;
    padding-right: 10px;
    display: grid;
    margin-bottom: 0px;
    grid-template-columns: 50% 50%;
} 

label {
    font-size: 24px;
width: auto;
text-align: left;

}

#dateOfJoining, #expirationDate {
    border: 1px solid #ccc;
    margin-bottom: 1px;
}

input{
    
    border: 0;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:invalid,
input[type="email"]:invalid,
input[type="password"]:invalid {
    border-color: rgb(240, 142, 142);
}

input[type="text"]:valid,
input[type="email"]:valid,
input[type="password"]:valid {
    border-color: rgb(147, 241, 147);
} 

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #b30000;
}

#submit{
    margin-left: 48%;
    margin-top: 2%;

}
@media only screen and (min-width: 601px){
    body{
       background-color:rgb(214, 203, 106);
   }
}

@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(80, 180, 211) !important;
    }
    h1 {
        background-color: rgb(255, 145, 0);
        text-align: center;
        padding: 20px;
    }    
    h2 {
        font-size: 22px; 
    }
    form {
        width: 90%; 
    }
    input[type="submit"] {
        width: 37%;
    }
    .two-column-form {
        display: flex;
        flex-direction: column; 
    }
    .column {
        flex: 1;
        padding: 0 10px; 
    }
    label {
        text-align: left; 
    }
    input {
        width: 100%; 
    }
}


        
        
    
